<div class="container">

    <div class="row" *ngIf="editable">
        <div class="offset-sm-8 col-sm-4 align-right">
            <button type="button" class="btn btn-secondary" (click)="openManageTeamDlg()">
                <span>Manage Team</span>
            </button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6 align-right">
            <span class="team-header">Team Name</span>
        </div>

        <div class="col-md-6">
            <span class="team-value">{{team.name}}</span>
        </div>

        <div class="col-md-6 align-right">
            <span class="team-header">Identifier</span>
        </div>

        <div class="col-md-6">
            <span class="team-value">{{team.identifier}}</span>
        </div>

        <div class="col-md-6 align-right">
            <span class="team-header">Team Owner</span>
        </div>

        <div class="col-md-6">
            <span class="team-value">{{team.owner}}</span>
        </div>

        <div class="col-md-6 align-right">
            <span class="team-header">Team Captain</span>
        </div>

        <div class="col-md-6">
            <span class="team-value">{{team.captain}}</span>
        </div>

        <div class="col-md-6 align-right">
            <span class="team-header">Team Location</span>
        </div>

        <div class="col-md-6">
            <span class="team-value">{{team.location}}</span>
        </div>
    </div>

    <br /><br />

    <span class="page-subtitle">Team Members</span>

    <mat-list-item *ngFor="let player of team.players" class="player-list">
        {{player.name}}
    </mat-list-item>

</div>