.team-value {
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.team-header {
    font-weight: 600;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}