<mat-toolbar color="primary">

    <a mat-button class="header-button-logo fill" routerLink='home'>
      <mat-icon class="logo-img" svgIcon="app_logo"></mat-icon>
      <span fxShow="true" fxHide.lt-md="true">My Cricket Profile</span>
    </a>
    <a mat-button class="header-button fill" routerLink='match'>
      <span>Match</span>
    </a>
    <a mat-button class="header-button fill" routerLink='tournament'>
      <span>Tournament</span>
    </a>
    <a mat-button class="header-button fill" routerLink='search-player'>
      <span>Player</span>
    </a>
    <span class="example-spacer" flex></span>
    <button *ngIf="!isLoggedIn" mat-icon-button class="example-icon" (click)="openLoginDialog()"
      aria-label="Example icon-button with person icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with person icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item routerLink='user-profile'>Profile</button>
      <button mat-menu-item routerLink='team'>Team</button>
      <button mat-menu-item routerLink='tournament'>Tournament</button>
      <button mat-menu-item routerLink='match-admin'>Match</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
