<h1 mat-dialog-title>Manage Team</h1>

<div mat-dialog-content>
    <mat-form-field appearance="standard">
        <mat-label>Team Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="teamName">
    </mat-form-field>

    <br />

    <mat-form-field appearance="standard">
        <mat-label>Team Location</mat-label>
        <input matInput placeholder="Eg. Bengaluru"  [(ngModel)]="teamLocation">
        <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <br />

    <mat-form-field appearance="standard">
        <mat-label>Team Size</mat-label>
        <input matInput type="number" placeholder="Team Size" [(ngModel)]="teamSize">
    </mat-form-field>

</div>




<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="editTeam()">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
</div>