<h1 mat-dialog-title>Manage Team</h1>

<div mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="standard" class="col-sm-6">
            <mat-label>Team Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="team.name">
        </mat-form-field>


        <mat-form-field appearance="standard" class="col-sm-6">
            <mat-label>Team Location</mat-label>
            <input matInput placeholder="Eg. Bengaluru" [(ngModel)]="team.location">
            <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-sm-6">
            <mat-label>Team Size</mat-label>
            <input matInput type="number" placeholder="Team Size" [(ngModel)]="team.teamSize">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-sm-6">
            <mat-label>Team Captain</mat-label>
            <mat-select [(ngModel)]="team.captain" name="captain" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let player of team.players" [value]="player">{{player.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <br /><br />

    <table class="stretch center-align">
        <tr>
            <th>Player</th>
            <th>Confirmation Status</th>
        </tr>
        <tr *ngFor="let player of team.players; let indx = index">
            <td>{{player.name}}</td>
            <td>
                <span *ngIf="player.playerStatus === 'CONFIRMED'" class="material-icons green player-status" [matMenuTriggerFor]="confirm_menu">
                    check_circle
                </span>
                <span *ngIf="player.playerStatus === 'PENDING'" class="material-icons yellow player-status" [matMenuTriggerFor]="pending_menu">
                    warning
                </span>
                <mat-menu #confirm_menu="matMenu" xPosition="before" yPosition="below">
                    <button mat-menu-item (click)="removePlayer(player.id, indx)">Remove</button>
                </mat-menu>

                <mat-menu #pending_menu="matMenu" xPosition="before" yPosition="below">
                    <button mat-menu-item (click)="acceptPlayer(player.id, indx)">Accept</button>
                    <button mat-menu-item (click)="removePlayer(player.id, indx)">Reject</button>
                </mat-menu>
            </td>
        </tr>
    </table>

</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="editTeam()">Submit</button>
    <button mat-raised-button mat-dialog-close>Close</button>
</div>