/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* You can add global styles to this file, and also import other style files */

html, body, app-root { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.content-outer-container {
    background-color: lightgray;
    height: 86%;
    padding: 10px;
}

.content-inner-container {
    height: 100%;
}

app-header {
    min-height: 10%;
}

app-footer {
    min-height: 10%;
}

match-card {
    cursor: pointer;
}

.grayed-background {
    background-color: lightgray;
}

.parent-container {
    background-color: #fff;
    border-radius: 5px;
    /* text-align: center; */
    padding: 16px;
    height: 100%;
}

.page-title {
    color: rgb(100 149 237);
    font-size: 24px;
    font-weight: 500;
}

.page-subtitle {
    color: rgb(100 149 237);
    font-size: 20px;
    font-weight: 500;
}

.align-right {
    text-align: right;
}

a:hover {
    color: darkgray !important;
}

.stretch {
    width: 100%;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.table-header {
    background-color: lavender;
}

.table-row-even {

}

.table-row-odd {
    
}